﻿@model  IEnumerable<Web.Models.User>
    
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Players</h1>
        <ul>
        @foreach (var user in Model)
        {
            <li>@Html.ActionLink(user.Name, "Index", "Player", new { Href = "player/" + user.Name })</li> 
          //  <li><a href=""> @Html.DisplayFor(modelItem => user.Name) (@Html.DisplayFor(modelItem => user.Birthday))</a></li>
        }            
        </ul>
    </div>
</div>