﻿@model  Web.Models.User
    
@{
    ViewBag.Title = "Player Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Player:</h1>
        <h2>@Model.Name</h2>
        <h3>@Model.Birthday.ToString()</h3>
    </div>
</div>